# security-host/templates/sshd_config.j2
# Безопасная конфигурация SSH
Port {{ ssh.port | default(22) }}
Protocol 2

# Отключаем root логин
PermitRootLogin no

# Только аутентификация по ключам
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

{% if ssh.allowed_users is defined and ssh.allowed_users | length > 0 -%}
# Разрешенные пользователи
AllowUsers {{ ssh.allowed_users | join(' ') }}
{%- endif %}

# Безопасность
PermitEmptyPasswords no
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 2

# Логирование
SyslogFacility AUTH
LogLevel VERBOSE

# Отключаем X11
X11Forwarding no

# Использовать PAM
UsePAM yes
